<!doctype html>
<html>
<head>
  <style>
    label>:first-child { display: inline-block; width: 200px }
    input[type=range] { width: 300px }
  </style>
</head>
<body ng-app=app ng-controller=AppController>
<div>
  <label>
    <span>Built-in color picker:</span>
    <input type=color ng-model=value>
  </label>
</div>
<div>
  <label>
    <span>Value:</span>
    <input type=text ng-model=value>
  </label>
</div>
<div>
  <label>
    <span>Hue:</span>
    <input type=range ng-model=hue min=0 max=360 step=1> {{hue}}
  </label>
</div>
<div>
  <label>
    <span>Saturation:</span>
    <input type=range ng-model=saturation min=0 max=1 step=0.01> {{saturation}}
  </label>
</div>
<div>
  <label>
    <span>Lightness:</span>
    <input type=range ng-model=lightness min=0 max=1 step=0.01> {{lightness}}
  </label>
</div>
<div>
  <label>
    <span>Size:</span>
    <input type=range ng-model=size min=50 max=1000 step=1> {{size}}
  </label>
</div>

<sk-color-editor value=value hue=hue saturation=saturation lightness=lightness
                 size=size></sk-color-editor>

<script src="/node_modules/angular/angular.js"></script>
<script src="/index.js"></script>
<script>
  angular.module('app', ['skColorEditor'])
    .controller('AppController', ['$scope', function ($scope) {
    }])
</script>
</body>
</html>
